<%= form_for(@order, html: { class: "form-horizontal"} ) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>

      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="jumbotron <%= description_error %> ">
   <h1>Request the Truck</h1>
    <p><img class="img-responsive" src=" http://m1.behance.net/rendition/modules/86579007/disp/b3770565b3f468854f9f7fe706e3dd97.png"/> 
     </p>
  <div class="form-group">
   <%= f.label :First_Name, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :First_Name, class: "form-control" %>
  </p></div>
   <%= f.label :Last_Name, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Last_Name, class: "form-control" %>
    </p></div>
    <%= f.label :Location, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Location, class: "form-control" %>
  </p></div>
   <%= f.label :Time, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Time, class: "form-control" %>
  </p></div>
   <%= f.label :Cuisine, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Cuisine, class: "form-control" %>
  </p></div>
    <%= f.label :Email, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Email, class: "form-control" %>
  </p></div>
    <%= f.label :Additional_Comments, class: "control-label col-sm-2"%>
     <div class="col-sm-10"><p>
    <%= f.text_field :Additional_Comments, class: "form-control" %>
 </p> </div>
  <div class="actions col-sm-offset-2"><p>
      <%= f.submit class: "btn btn-primary" %>
  </p>    
  </div>
   </div>
    </div>
<% end %>
