  <% if !user_signed_in? %>
<div class="jumbotron">
  <h1>To Request the Truck <b>please sign in!</b></h1>
 <p><img class="img-responsive" src=" http://m1.behance.net/rendition/modules/86579007/disp/b3770565b3f468854f9f7fe706e3dd97.png"/> 
     </p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>
<% else %>

<h1>Listing Orders</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Location</th>
      <th>Time</th>
      <th>Cuisine</th>
      <th>Email</th>
      <th>Additional Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.First_Name %></td>
        <td><%= order.Last_Name %></td>
        <td><%= order.Location %></td>
        <td><%= order.Time %></td>
        <td><%= order.Cuisine %></td>
        <td><%= order.Email %></td>
        <td><%= order.Additional_Comments %></td>
          <% if current_user == order.user %>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Order', new_order_path, class: "btn btn-primary btn-lg" %>
<% end %>
<% end %>
